@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  padding: 3rem;
  background: #eee;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}
.root{
  display: flex;
  justify-content: center;
}
.container {
  max-width: 800px;
}
.favorites-list{
  display: flex;
  flex-wrap: wrap;
}
.favorite{
  width: 50%;
}
.player-list{
  width: 100%; 
}
.player-list tbody tr:nth-child(even){
  background: lightgrey;
}
.player-list tbody tr:nth-child(odd){
  background: #eee;
}
