@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  padding: 3rem;
  background: #eee;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
}

.container {
  max-width: 800px;
}
